<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Task Organizer</title>
    <link rel="stylesheet" href="../static/index.css" />
    <script src="../static/todo.js"></script>
  </head>

  <body>
    {% extends 'base.html' %} {% block title %}Taskify{% endblock %} {% block
    main%}

    <section>
      <div id="form-container" class="container">
        <div class="card mb-4 shadow-sm" style="width: 18rem">
          <div class="card-header">
            <h2 class="my-0 font-weight-normal text-center">Login</h2>
          </div>
          <div class="card-body">
            <form onsubmit="event.preventDefault();">
              <label for="email">Enter your email address</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                value=""
                required
              />
              <br />
              <label for="password">Enter your password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                value=""
                required
              />
              <br />
              <button
                class="btn btn-secondary btn-sm btn-block"
                onclick="window.location.href = '/register-page';"
              >
                create an account
              </button>
              <button
                class="btn btn-primary btn-lg btn-block"
                onclick="getCredentials(document.getElementById('email').value,document.getElementById('password').value)"
              >
                submit
              </button>
            </form>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}
  </body>
</html>
