{% extends 'base.html' %} {% block title %}Taskify{% endblock %} {% block main%}
<link rel="stylesheet" href="../static/index.css" />
<script src="../static/todo.js"></script>
<div class="container">
  <div class="logout">
    <button class="btn-danger btn-sm btn-block" onclick="logout()">
      Logout
    </button>
  </div>
  <div class="todo-list-main">
    {% if tasks %}
    <ul>
      {% for task in tasks %}
      <li>
        <div class="todo-list-item">
          <div class="task-content">
            <!--<h6><b>{{task.name}}</b>:</h6>-->
            <textarea
              name="task-content"
              id="task-content {{task.id}}"
              onBlur="editTask({{task|safe}}, '',document.getElementById('task-content {{task.id}}').value.trim());"
            >
{{task.description}}</textarea
            >
          </div>
          <div class="task-buttons">
            <button class="btn-edit btn-sm" onclick="">edit</button>
            <button
              class="btn-delete btn-sm"
              onclick="deleteTask({{task|safe}})"
            >
              remove
            </button>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {%endif%}
    <div>
      <label for="task">
        <h6><b>Add task</b></h6>
      </label>
      <input
        type="text"
        class="form-control"
        name="name"
        id="name"
        placeholder="enter title..."
      />
      <input
        type="text"
        class="form-control"
        name="description"
        id="desc"
        placeholder="enter your task..."
      />
      <br />
      <button
        class="btn btn-primary btn-lg btn-block"
        onclick="addTask(document.getElementById('name').value,document.getElementById('desc').value);"
      >
        Add task
      </button>
    </div>
  </div>
</div>
{% endblock %}
